.news-letter{
    width: 65%;
    height: 40vh;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    gap: 30px;
}

.news-letter h1{
    color: #454545;
    font-size: 55px;
    font-weight: 600;
}

.news-letter p{
    color: #454545;
    font-size: 20px;
}

.news-letter div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: white;
    gap: 20px;
    width: 730px;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.news-letter input{
    width: 500px;
    margin-left: 35px;
    border: none;
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 16px;
}

.news-letter button{
    width: 210px;
    height: 70px;
    border-radius: 80px;
    border: none;
    background: #252525;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
@media(max-width: 1280px) {
    .news-letter{
        padding: 0px 80px;
        margin-bottom: 120px;
    }
    .news-letter h1{
        font-size: 40px;
        text-align: center;
    }
    .news-letter p{
        font-size: 18px;
        text-align: center;
    }
    .news-letter div{
        width: 600px;
        height: 60px;
        border-radius: 80px;
    }
    .news-letter input{
        width: 400px;
        margin-left: 25px;
        font-size: 18px;
    } 
    .news-letter button{
        width: 180px;
        height: 60px;
        font-size: 18px;
    }   
}
@media(max-width: 1024px) {
    .news-letter{
        padding: 0px 40px;
        margin-bottom: 80px;
    }
    .news-letter h1{
        font-size: 30px;
        text-align: center;
    }
    .news-letter p{
        font-size: 16px;
        text-align: center;
    }
    .news-letter div{
        width: 450px;
        height: 50px;
        border-radius: 80px;
    }
    .news-letter input{
        width: 300px;
        margin-left: 15px;
        font-size: 16px;
    }
    .news-letter button{
        width: 160px;
        height: 50px;
        font-size: 16px;
    }
}
@media (max-width: 800px) {
    .news-letter{
        padding: 0px 20px;
        margin-bottom: 60px;
    }
    .news-letter h1{
        font-size: 20px;
        text-align: center;
    }
    .news-letter p{
        font-size: 14px;
        text-align: center;
    }
    .news-letter div{
        width: 350px;
        height: 40px;
        border-radius: 80px;
    }
    .news-letter input{
        width: 250px;
        margin-left: 10px;
        font-size: 14px;
    }
    .news-letter button{
        width: 140px;
        height: 40px;
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    .news-letter{
        padding: 0px 10px;
        margin-bottom: 40px;
        width: auto;
    }
    .news-letter h1{
        font-size: 23px;
        text-align: center;
    }
    .news-letter p{
        font-size: 17px;
        text-align: center;
    }
    .news-letter div{
        width: 350px;
        border-radius: 80px;
    }
    .news-letter input{
        width: 200px;
        margin-left: 15px;
        font-size: 15px;
    }
    .news-letter button{
        width: 120px;
        font-size: 14px;
    }
}