.product-display{
    display: flex;
    margin: 0px 170px;
}
.product-display-left{
    display: flex;
    gap: 17px;
}
.product-display-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product-display-img-list img{
    height: 163px;
}
.product-display-main-img{
    width: 586px;
    height: 700px;
}
.product-display-right{
    display: flex;
    margin: 0px 70px;
    flex-direction: column;
}
.product-display-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product-display-right-stars{
    display: flex;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product-display-right-stars p{
    margin-bottom: -2px;
    font-size: 16px;
}
.product-display-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product-display-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.product-display-right-price-new{
    color: #ff4141;
}
.productdisplay-right-size h1{
    margin-top: 40px;
    color: #656565;
    font-size: 24px;
    font-weight: 600;
}
.product-display-right-sizes{
    display: flex;
    margin: 30px 0px;
    gap: 20px;
}
.product-display-right-sizes div{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20%;
    border: 1px solid #ebebeb;
    color: #656565;
    background: #fbfbfb;
    font-size: 16px;
    font-weight: 600; 
    cursor: pointer;      
}
.product-display-right-sizes div:active{
    background: #656565;
    color: #fbfbfb;
}
.product-display-right button {
    padding: 20px 40px;
    background-color: #Ffd700; /* Blue color */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px;
    margin-bottom: 25px;
}
.product-display-right button:hover {
    background-color: #Ffd700; /* Darker shade of blue on hover */
}
.product-display-right button:active {
    background-color: #72682c; /* Darker shade of blue on click */
}
.product-display-right-category{
    margin-top: 20px;
}
.product-display-right-category span{
    font-weight: 600;
}

@media (max-width: 1330px) {
    .product-display{
        margin: 0px 60px;
        width: auto;
    }
    .product-display-left{
        gap: 10px;
    }
    .product-display-img-list {
        gap: 10px;
    }
    .product-display-img-list img{
        height: 120px;
    }
    .product-display-main-img{
        width: auto;
        height: 510px;
    }
    .product-display-right{
        margin: 0px 30px;
    }
    .product-display-right h1{
        font-size: 25px;
    }
    .product-display-right-stars {
        gap: 3px;
        font-size: 13px;
    }
    .product-display-right-prices {
        margin: 10px 0px;
        font-size: 18px;
    }
    .product-display-right-description{
        font-size: 14px;
    }
    .productdisplay-right-size h1{
        margin-top: 5px;
        font-size: 25px;
    }
    .product-display-right-sizes div{
        padding: 14px 20px;
    }
    .product-display-right button {
        padding: 15px 0px;
        width: 150px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    .product-display-right-category{
        font-size: 14px;
        margin: 0;
    }
}

@media (max-width: 1024px) {
    .product-display{
        margin: 0px 30px;
    }
    .product-display-left{
        gap: 5px;
    }
    .product-display-img-list {
        gap: 10px;
    }
    .product-display-img-list img{
        height: 80px;
    }
    .product-display-main-img{
        /* width: auto; */
        height: 350px;
    }
    .product-display-right{
        margin: 0px 20px;
    }
    .product-display-right h1{
        font-size: 18px;
    }
    .product-display-right-stars img{
        width: 15px;
    }
    .product-display-right-stars p{
        font-size: 14px;
    }
    .product-display-right-description{
        font-size: 12px;
    }
    .product-display-right-sizes{
        margin: 10px 0px;
    }
    .product-display-right-sizes div{
        padding: 10px 16px;
        font-size: 12px;
    }
    .product-display-right button {
        padding: 10px 0px;
        width: 120px;
        margin-bottom: 20px;
        font-size: 14px;
    }
    .product-display-right-category{
        font-size: 12px;
    }
    .productdisplay-right-size h1{
        font-size: 18px;
        margin-top: 0px;
    }
}

@media (max-width: 800px) {
    .product-display{
        margin: 0px 10px;
    }
    .product-display-left{
        gap: 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .product-display-img-list {
        margin-top: 10px;
        gap: 6px;
        flex-direction: row;
    }
    .product-display-img-list img{
        height: 70px;
    }
    .product-display-main-img{
        /* width: auto; */
        height: 300px;
    }
    .product-display-right{
        margin: 0px 20px;
    }
    .product-display-right h1{
        font-size: 14px;
    }
    .product-display-right-stars img{
        width: 13px;
    }
    .product-display-right-stars p{
        font-size: 13px;
    }
    .product-display-right-description{
        font-size: 10px;
    }
    .product-display-right-sizes{
        margin-top: 10px 0px;
        gap: 5px;
    }
    .product-display-right-sizes div{
        padding: 4px 11px;
        font-size: 18px;
    }
    .product-display-right button {
        width: 200px;
        height: 70px;
        font-size: 24px;
    }
    .product-display-right-category{
        font-size: 18px;
    }
    .productdisplay-right-size h1{
        font-size: 14px;
        margin-top: 10px 0px;
    }
}
@media (max-width: 570px) {
    .product-display{
        flex-direction: column;
        width: auto;
    }
    .product-display-left{
        gap: 10px;
        flex-direction: row;
        margin: auto;
    }
    .product-display-right h1{
        font-size: 20px;
        margin-top: 15px;
        font-weight: 500;
    }
    .product-display-right{
        margin: 5px;
    }
    .product-display-img-list{
        flex-direction: column;
        gap: 8px;
        margin-top: 5px;
    }
    .product-display-img-list img{
        height: 85px;
    }
    .product-display-right button {
        width: 200px;
        height: 70px;
        font-size: 24px;
    }
    .product-display-main-img {
        height: 370px;
        margin-top: 10px;
        width: 95%;
    }
    .product-display-right-stars img{
        width: 15px;
    }
    .product-display-right-stars p{
        font-size: 14px;
    }
    .product-display-right-description{
        font-size: 14px;
    }
    .product-display-right-sizes{
        margin-top: 20px 0px;
        gap: 10px;
    }
    .product-display-right-sizes div{
        padding: 8px 10px;
        font-size: 20px;
    }
    .product-display-right-category{
        font-size: 16px;
    }
    .product-display-right button {
        width: 170px;
        height: 60px;
        padding: 12px 0px;
        font-size: 20px;
    }
}