.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.footer-logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
    margin-top: 35px;
}

.footer-links{
    display: flex;
    gap: 50px;
    list-style-type: none;
    color: #252525;
    font-size: 20px;
}

.footer-links li{
    cursor: pointer;
}

.footer-socials-icons{
    display: flex;
    gap: 20px;
}

.footer-icons-container{
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
}

.footer-copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}
@media (max-width: 1280px) {
    .footer-links{
        gap: 30px;
    }
    .footer-socials-icons img{
        gap: 24px;
    }

    .footer-icons-container{
        padding: 8px;
    }

    .footer-logo p{
        font-size: 36px;
    }

    .footer-copyright{
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .footer-links{
        gap: 15px;
        font-size: 18px;
    }
    
    .footer-icons-container{
        padding: 6px;
    }

    .footer-logo p{
        font-size: 30px;
    }

    .footer-copyright{
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .footer-copyright hr{
        width: 100%;
    }
    .footer-links{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 20px;
        font-weight: 600;
        gap: 20px;
    }

    .footer-socials-icons img{
        width: 40px;
    }

    .footer-icons-container{
        padding: 6px;
    }

    .footer-logo p{
        font-size: 25px;
    }

    .footer-copyright{
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .footer-logo p{
        font-size: 20px;
    }

    .footer-copyright{
        font-size: 12px;
    }

    .footer-copyright hr{
        width: 80%;
    }

    .footer-socials-icons img{
        gap: 5px;
        width: 30px;
    }

    .footer-icons-container{
        padding: 4px;
    }
}